@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="jumbotron">
        <h1>Welcome to DevOps Registration App!</h1>
        <p class="lead">Click the button below to go to the registration page.</p>
        <p>
            <a href="@Url.Action("Register", "Home")" class="btn btn-success btn-lg">Register</a>
        </p>
    </div>
</div>
